.header {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: aqua;
}

.headerTitle {
    font-size: 20px;
}

.headerItems {
    display: flex;
    width: 90%;
    background-color: antiquewhite;
}

.headerItems li {
    display: flex;
    align-items: center;
}

.darkMode {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 20px;
}