@value size-big: 24px;
@value size-medium: 16px;
@value size-small: 12px;

@value weight-bold: 600;
@value weight-medium: 500;
@value weight-thin: 400;

.container {
  width: 100vw;
  height: 100vh;
  background-color: beige;
}

.pointer {
  position: absolute;
  background-color: crimson;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  left: -15px;
  top: -15px;
}